<h3>Posts</h3>
{{#each post in model}}
  <h4>
    <div class="ui label">
      <i class="comment icon"></i> {{post.comments.length}}
    </div>
    {{#link-to "posts.show" post}}
      {{post.title}} 
    {{/link-to}}
    - {{post.username}}
  </h4>
{{/each}}