<h4>Posts</h4>
<div class="ui grid">
  <div class="four wide column">
    {{#link-to "posts.new"}}New Post{{/link-to}}
    {{#each post in model}}
      <div>
      {{#link-to "posts.show" post}}
        {{post.title}}
      {{/link-to}}
      <span {{action "deletePost" post}}>[X]</span>
      {{#link-to "posts.edit" post}}[E]{{/link-to}}
      </div>
    {{/each}}
    
  </div>

  <div class="twelve wide column">
    <div class="ui segment">
      {{outlet}}
    </div>
  </div>

</div>